{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    <h1 class="m-4"> Panier </h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Nom
                </th>
                <th>
                    Quantité
                </th>
                <th>
                    Prix
                </th>
                <th>
                    Sous-total
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>
                        <img src="{{product.img}}" width="100" height="100" alt="Image de {{product.name}}"/>
                    </td>
                    <td>
                        {{product.name}}
                    </td>
                    <td>
                        {{product.qte}}
                    </td>
                    <td>
                        {{product.price}}€
                    </td>
                    <td>
                        {{product.price * product.qte}}€
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{path('cart.delete', {id:product.id})}}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
            
                <th colspan="6"><div class="d-flex justify-content-end"><h2 class="ml-auto"> Total : {{total_price}}€</h2></div></th>
            <tr>
        
        </tbody>
    </table>
    <div class="col-6">
    {{ form_start(commandForm) }}
        {{ form_row(commandForm.email) }}

        <button type="submit" class="btn btn-primary btn-block mt-5">
            Commander
        </button>
    {{ form_end(commandForm) }}
    </iv>
</div>
{% endblock %}
